<ion-header translucent>
  <ion-toolbar>
    <ion-searchbar debounce="500" placeholder="Search" [value]="searchText" (ionChange)="searchProducts($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list *ngIf="productsList">
    <ion-item *ngFor="let product of productsList" [routerLink]="['/product-detail', product.sku]">
      <ion-avatar slot="start">
        <img src="{{ product.image }}">
      </ion-avatar>
      <ion-label>
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
